<!--The content below is only a placeholder and can be replaced.-->

<div class="main">
    <div class="main-header">

    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <div class="main-footer">
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    WebApp Sailors, desarrollado por <b>Luis Silva</b>, <b>Alejandro Beltran</b>, <b>Felipe Vergara</b> para el curso Base de datos. <br>
                    <i class="fas fa-heart" style="color: red"></i>
                </p>
            </div>
        </footer>
    </div>
</div>